pip-tools==7.4.0
langchain==0.1.8
langgraph==0.0.24
pandas==2.2.0
beautifulsoup4==4.12.3
python-dotenv==1.0.1
nltk==3.8.1

qdrant-client==1.7.3
sentence-transformers==2.4.0
ctransformers==0.2.27
lark==1.1.9
openai==1.12.0
langchain-openai==0.0.8
